.card-product {
  width: 100%;
  height: 150px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
    & .card-product-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap:2px;
    & h2{
      font-size: 1.1rem;
      font-weight: 600;
    }
    & p{
      font-size: .8rem;
      color:gray;
      margin-bottom: 0;
    }
    & .card-product-price{
      font-style: italic;
      font-size: .9rem;
      color: black;
      font-weight: 600;
    }
    }
    & .card-product-actions{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}


.card-product-id{
  font-size: .8rem;
  color: gray;
}
.card-product-category{
  font-size: .8rem;
  color:gray;
}
.card-product-descrip{
  text-align: center; 
  font-size: .9rem;
  color:gray;
  width: 26ch;
}

.card-product-image{
  width: 100px;
  height: 100%;
  overflow: hidden;
}

.card-product-image img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  border-radius: 10px;
}

.card-product-left{
  display: flex;
  gap: 1.2rem;
}
