.button1 {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8b0000;
  }
}