
.main-mostrador {
    width: 100%;
    height: 100%;
    display: flex;

}

.sales-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.sales-detail {
    display: flex;
    height: calc(100vh - 50px);
}

.detail {
    width: 25%;
    background-color: #e7e1bfdc;
    padding: 20px;
}

.sales-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    background-color: var(--background-color);
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.detail h2{
    padding: .5rem;
}

.detail .detail-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 1rem;
}

.detail .detail-products .product-item {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: .5rem;
    text-align: center;
}

.prod {
    background-color: var(--background-color);
    height: 150px;
    border: 1px solid var(--text-color-dk);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details h2, .sales-products h2 {
    margin-top: 0;
}