
.users-users {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.users-users {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

.users-employees {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.users-categories {
    background-color: #b22222;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.lista {
    background-color: white;
    min-height: 80px;
    border: 2px solid #b22222;
    margin-top: 5px;
    border-radius: 5px;
}

.users-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

button {
    background-color: #b22222;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8b0000;
}