.title {
  padding: 1rem;
  font-size: var(--h2);
  text-align: center;
}

.load-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
  text-align: left;
    & .subtitle{
      color: var(--primary-color);
      font-size: 1.4rem;
    }
}

.list-products{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
    & .subtitle{
      font-size: 1.2rem;
      font-weight: bold;
    }
}

.products-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5rem;
}