
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-layout{
  width: 100%;
  height: 100%;
  display: flex;
}

.main-content{
  margin-left: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* Variables */

:root {
  --fondo : #f0f0f0;
  --boton : #b71c1c;

  --secondary-color: #c29f6b;
  --background-color: #fff7e6;
  --background-color-dk: #e7e1bfdc;
  --acent-color: #d3c69050;
  --text-color-dk: #d28f3d;
  --border-radius: 8px;
 
  --dark: #1f2937;
  --white: #ffffff;
  --danger: #dc2626;
  /* Varaibles de texto / fuentes */

  --h1 : 2rem;
  --h2 : 1rem;
  --h3 : 0.8rem;

}


:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --success: #16a34a;

  --warning: #ea580c;
  --gray: #6b7280;
  --light-gray: #f3f4f6;
  --border: #e5e7eb;

}