/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-layout{
  width: 100%;
  height: 100%;
  display: flex;
}

.main-content{
  margin-left: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* Variables */

:root {
  --primary-color: #d28f3d;
  --secondary-color: #c29f6b;
  --background-color: #fff7e6;
  --background-color-dk: #e7e1bfdc;
  --acent-color: #d3c69050;
  --text-color-lg: #e4e4e4;
  --text-color-dk: #d28f3d;
  --border-radius: 8px;

  /* Varaibles de texto / fuentes */

  --h1 : 2rem;
  --h2 : 1rem;
  --h3 : 0.8rem;



}